.sent-content {
  position: fixed;
  inset: 0;
  background-color: hsla(240, 14%, 11%, 0.6);
  z-index: 999;
}

.sent-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: absolute;
  inset: 20% 30%;
  background-color: var(--secondary500);
  color: var(--primary300);
}

.sent-message h2 {
  width: 85%;
  font-size: 2rem;
  text-align: center;
}

.sent-message p {
  font-size: 1rem;
}

.sent-close {
  position: absolute;
  top: 0;
  right: 1rem;
  text-decoration: none;
  font-size: 3rem;
  color: var(--primary10);
}

@media (max-width: 1024px) {
  .sent-message {
    inset: 20%;
  }
}

@media (max-width: 768px) {
  .sent-message {
    inset: 10%;
  }
}
