.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  align-self: center;
  padding-inline-start: 8rem;
}

.hamburger-menu {
  display: none;
}

.navbar {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: flex-end;
  padding: 3rem 8rem;
  background-color: var(--primary500);
}

ul {
  display: flex;
  gap: 1.5rem;
  list-style-type: none;
  font-size: 1rem;
}

@media (max-width: 1024px) {
  .navbar {
    width: 66%;
    padding: 3rem 4rem;
  }

  .logo {
    padding-inline-start: 4rem;
  }
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
    justify-self: flex-end;
    padding: 2rem;
  }

  ul {
    flex-direction: column;
    align-items: center;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 4rem 2rem 55% 30%;
    background-color: var(--secondary500);
    color: var(--primary10);
  }

  .navbar-close {
    display: none;
  }
}
