.container {
  min-height: 100vh;
}

.hero {
  height: 800px;
  display: flex;
  background: url('../../assets/desktop/image-hero.jpg') var(--primary10)
    no-repeat right;
  padding-inline-start: 8rem;
  transition: background 0.3s;
}

.hero-info {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
}

h1 {
  font-size: 4rem;
  transition: font-size 0.5s;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}

@media (max-width: 1024px) {
  .hero {
    height: 606px;
    background: url('../../assets/tablet/image-hero.jpg') var(--primary10)
      no-repeat right;
    padding-inline-start: 4rem;
  }

  h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 768px) {
  .hero {
    background: url('../../assets/mobile/image-hero.jpg') var(--primary10)
      no-repeat;
    /* background-size: contain; */
    background-position: center top;
    justify-content: center;
    align-items: flex-end;
    padding: initial;
  }

  .hero-info {
    width: 90%;
    height: 60%;
    gap: 1.5rem;
  }

  h1 {
    font-size: 2.5rem;
  }
}
