:root {
  --primary10: #e1e1e1;
  --primary300: #ffeb3b;
  --primary500: #fbc02d;

  --secondary400: hsl(240, 12%, 30%);
  --secondary500: hsl(240, 14%, 11%);
  --secondary900: hsl(0, 0%, 0%);
}
/* :root {
  --primary10: hsl(0, 0%, 100%);
  --primary300: hsl(0, 100%, 79%);
  --primary500: hsl(0, 93%, 64%);

  --secondary400: hsl(240, 12%, 30%);
  --secondary500: hsl(240, 14%, 11%);
  --secondary900: hsl(0, 0%, 0%);
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: 'Commissioner', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
